.navbar{
    height: 60px;
    padding: 0 2rem;
}

.navbar-toggler{
    padding: 0px;
    border: solid 0px black;
}

img{
    cursor: pointer;
    height: 60px;
    width: 60px;
    opacity: 0.9;

}

img:hover{
    opacity: 1;
}


app-card-search{
    position: absolute;
    right: 40px;
    width: 20%;
}

.form-control{
    margin-right:20px;
}

.nav-item{
    margin-left: 2rem;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
}
