<div>
    <!-- header -->
<header class="header">
    <div class="Navbar">
        <div class="Navbar-items">
            <div class="Navbar-img">
                <img (click)="goToHomePage()" src="../../assets/Pokeball.PNG">
            </div>
            <nav id="sets" (click)="goToSetsPage()">Sets</nav>
            <nav id="cards">Cards</nav>
        </div>

        <div class="Navbar-accountUnauthenticated">
            <nav id="account">My account</nav>
            <div class="Navbar-dropdownIcon">
            </div>
        </div>
    </div>
</header>
</div>