<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">
        <img (click)="goToHomePage()" src="../../assets/Pokeball.PNG">
    </a>
    
    <div class="navbar-toggler dropdown">
      <button class="btn navbar-toggler dropdown-toggle" type="button" data-toggle="dropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      

      <div class="dropdown-menu dropdown-menu-right">
        <a class="nav-item nav-link" (click)="goToSetsPage()">Sets</a>
        <a class="nav-item nav-link" (click)="goToAllCardsPage()">All cards</a>
      </div>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" (click)="goToSetsPage()">Sets</a>
        <a class="nav-item nav-link" (click)="goToAllCardsPage()">All cards</a>
        
        <app-card-search></app-card-search>
      </div>
    </div>
  </nav>