.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 30;
    background-color: #3b1818;
    color: rgba(255, 255, 255, 0.7);
    height: 60px;
    font-weight: 400;
    line-height: 1.4;
    transition: color 200ms, background-color 200ms, border-color 200ms;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

div.Navbar{
    display: flex;
    height: 60px;
    line-height: 60px;
    padding: 0px 40px;
}

nav{
    cursor: pointer;
}

div.Navbar-img{
    width: 60px;
}

img{
    cursor: pointer;
    height: 100%;
    width: auto;
}

img:hover{
    opacity: 1;
}

div.Navbar-items{
    font-size: 17px;
    display: flex;
    height: 100%;
    width: auto;
    text-transform: uppercase;
}

#sets{
    margin: 0 40px;
}

#sets:hover{
    color: #fff;
}

#cards:hover{
    color: #fff;
}

div.Navbar-accountUnauthenticated{
    display: flex;
    font-size: 15px;
    position: absolute;
    right: 40px;
    width: auto;
}

a{
    margin-left: 20px;
}

#account:hover{
    color: #fff;
}

