.footer {
  display: block;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #e9f6f6;
  padding: 3rem 1.5rem 6rem;
}

.container {
  margin: 0 auto;
  position: relative;
}

.has-text-centered {
  text-align: center;
}

svg{
  height: 1em;
  width: 1em;
  display: inline-block;
}