.footer {
  display: block;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #e9f6f6;
  padding: 3rem 1.5rem 1rem;
  min-height: 20vh; /* line to hack the footer */
}

.has-text-centered {
  text-align: center;
}

svg{
  height: 1.5em;
  width: 1.5em;
  display: inline-block;
}