#search-box {
  width: 400px;
  height: 20px;
}
div.search{
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: baseline;
  justify-content: left;
  margin-top: 15vh;
}

h4{
  margin: 0 20px;
}
h6{
  margin-left: 30px;
  font-weight: 200;
}
input{
  margin: 0 20px;
}