<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" *ngIf="1 !== cardService.getPageId(route)" (click)="cards.navigateToPage(cardService.getPageId(route) - 1)">Previous</a>
    </li>
    <!-- the two pagination links from page before the actual -->
    <li class="page-item" *ngFor="let in of counter(2) ;let i = index">
      <a class="page-link" *ngIf="(cardService.getPageId(route) + (i - 2) ) > 0" (click)="cards.navigateToPage(cardService.getPageId(route) + (i - 2))">
        {{  cardService.getPageId(route) + (i - 2) }}
      </a>
    </li>
    <!-- the pagination link showing the current page -->
    <li class="page-item active">
      <a class="page-link" *ngIf="(cardService.getPageId(route)) <= cards.numberOfPages" (click)="cards.navigateToPage(cardService.getPageId(route))">{{  cardService.getPageId(route) }}</a>
    </li>
    <!-- the two pagination links from page after the actual -->
    <li class="page-item" *ngFor="let in of counter(2) ;let i = index">
      <a class="page-link" *ngIf="(cardService.getPageId(route) + (i + 1) ) <= cards.numberOfPages" (click)="cards.navigateToPage(cardService.getPageId(route) + (i + 1))">{{  cardService.getPageId(route) + (i + 1) }}</a>
    </li>

    <!-- the additional pagination links if is on page 1 or 2 -->
    <li class="page-item" *ngFor="let in of counter(2) ;let i = index">
      <a class="page-link" *ngIf="(cardService.getPageId(route) + (i - 2) ) < 0" (click)="cards.navigateToPage(cardService.getPageId(route) + (i + 2))">
        {{  cardService.getPageId(route) + (i + 3) }}
      </a>
    </li>

    <li class="page-item">
      <a class="page-link" (click)="cards.navigateToPage(cardService.getPageId(route) + 1)">
        Next
      </a>
    </li>

  </ul>

</nav>