<router-outlet  #myOutlet="outlet"></router-outlet>

<div id="cards-container" *ngIf="!myOutlet.isActivated">
        
    <div class="container__card-search" *ngIf="cardService.isCardSearched">
        <app-card-search></app-card-search>
    </div>

    <app-pagination *ngIf="cards !== undefined"></app-pagination>

    <img [src]="imageUrl">

    <app-loading *ngIf="cards === undefined"></app-loading>

    <div class="cards">
        <app-card-item id="card-item" *ngFor="let card of cards" [card]="card">
        </app-card-item>
    </div>

    <app-pagination *ngIf="cards !== undefined"></app-pagination>
</div>